* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --unit-font-size: 3vh;
    --title-font-size: calc(var(--unit-font-size) * 1.6);
    --unselected-color: hsla(215, 20%, 65%, 1);
    --light-background-color: hsla(217, 33%, 17%, 1);
    --dark-background-color: hsla(237, 100%, 4%, 1);
}

.login-page, .appoint-page {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.login-page {
    background-color: var(--light-background-color);
}

.login-page header {
    position: relative;
    color: white;
    
    animation: fade-in .8s, 
               landing .8s ease-out forwards;
    
    z-index: 2;
}

header {
    text-align: center;
    font-size: var(--title-font-size);
    font-weight: bold;
    font-family: sans-serif;
}

#car-icon {
    width: var(--title-font-size);
    height: var(--title-font-size);
    margin-right: 1vh;
    fill: white;
    vertical-align: text-top;
}

.title {
    position: relative;
    top: -9.6vh;
    align-self: center;
    margin: -0.6vh;
    background-color: transparent;
}

.login-page form::before {
    content: '';
    position: absolute;
    top: calc(53.5vw * -1.414 * 0.5);
    left: calc(50vw - calc(53.5vw / 1.414));
    width: calc(107vw / 1.414);
    height: calc(107vw / 1.414);
    
    transform: rotate(45deg);
    
    background: var(--dark-background-color);
    border-radius: 8vw;
    
    z-index: -1;
}

.login-page form {
    position: relative;
    display: flex;
    flex-direction: column;
    
    height: 52vh;
    top: 96vh;
    padding: 0 4vh;
    font-size: var(--unit-font-size);
    
    background-color: var(--dark-background-color);
    color: white;
    
    animation: rise-up ease-out 1s forwards,
    fade-in 1s;
    
    z-index: 1;
}

.login-page form .field {
    margin-bottom: 1vh;
}

.login-page form .field label {
    position: relative;
    display: block;
    top: -5.6vh;
    left: 1vh;
    height: calc(var(--unit-font-size) * 1.5);
    color: var(--unselected-color);
    font-size: calc(var(--unit-font-size) * 0.9);
    pointer-events: none;

    transition: ease-out .3s, color 0s;
}

.login-page form .field input:valid + label, 
.login-page form .field select:valid + label, 
.login-page form .field input:focus + label, 
.login-page form .field select:focus + label {
    top: -9vh;
    color: white;
    font-size: calc(var(--unit-font-size) * 0.75);
}

.login-page form .field input:valid, 
.login-page form .field select:valid, 
.login-page form .field input:focus, 
.login-page form .field select:focus {
    color: white;
    border-bottom: .2vh solid white;
}

input, select {
    appearance: none;
    -webkit-appearance: none;
    outline: none;
}

.login-page form .field input, .login-page form .field select {    
    width: 100%;
    padding: 1.5vh;
    text-indent: 1vh;
    
    font-size: calc(var(--unit-font-size) * 1);
    
    background-color: transparent;
    color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: .2vh solid var(--unselected-color);
    
    transition: color .3s;
}

.login-page option {
    background-color: var(--light-background-color);
}

.login-page form .error-message {
    align-self: center;
    color: red;
    margin-top: -1vh;
    margin-bottom: 4vh;
}

button {
    appearance: none;
    outline: none;
    border: none;
    box-shadow: none;
    font-size: var(--unit-font-size);

    background-color: hsla(215, 25%, 34%, 1);
    color: white;
    border-radius: 0.4vh;
}

.login-page form button {
    width: 100%;
    height: calc(var(--unit-font-size) * 2.1);
    font-weight: bold;
}

button:active {
    background-color: var(--unselected-color);
    color: var(--dark-background-color);
}

button:disabled {
    background-color: hsla(215, 25%, 27%, 1);
    color: grey;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes landing {
    0% {
        translate: 0 0;
    }
    100% {
        translate: 0 12vh;
    }
}

@keyframes rise-up {
    0% {
        translate: 0 0;
    }
    100% {
        translate: 0 -48vh;
    }
}

.appoint-page {
    background-color: var(--dark-background-color);
    color: white;
}

.appoint-page header {
    position: relative;
    border-top: 10vh solid var(--light-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

    animation: slide-down ease-out .8s forwards, fade-in .8s;
}

.appoint-page .user-info {
    position: relative;
    text-align: center;
    text-decoration-line: underline;
    font-size: calc(var(--unit-font-size) * 1.2);
    padding-top: 8vh;
    z-index: 1;
    
    animation: slide-down ease-out .8s forwards, fade-in .8s;
}

.appoint-page .user-info::after {
    content: "";
    position: absolute;
    top: calc(53.5vw * -1.414 * 0.5 - 5vh);
    left: calc(50vw - calc(53.5vw / 1.414));
    width: calc(107vw / 1.414);
    height: calc(107vw / 1.414);
    
    transform: rotate(45deg);
    
    background-color: var(--light-background-color);
    border-radius: 8vw;
    
    z-index: -1;
}

.appoint-page form {
    margin-top: 17vh;
    padding: 4vh;
    font-size: var(--unit-font-size);

    animation: slide-up ease-out 1s forwards, fade-in 1s;
}

.appoint-page .actions-select-wrapper select {
    height: 6vh;
    width: 100%;
    font-size: calc(var(--unit-font-size) * 1.1);

    background-color: var(--light-background-color);
    color: var(--unselected-color);
    border: none;
    border-radius: 15px;
    padding-left: calc(50% - 6.5vh);
}

.appoint-page option {
    background-color: var(--light-background-color);
    color: var(--unselected-color);
}

.appoint-page .actions-select-wrapper:active select {
    background-color: var(--unselected-color);
    color: var(--dark-background-color);
}

.appoint-page .actions-select-wrapper:active::after,
.appoint-page .actions-select-wrapper:active::before {
    border-top: 2.5vh solid var(--dark-background-color);
}

.appoint-page .actions-select-wrapper {
    position: relative;
}

.appoint-page .actions-select-wrapper::before,
.appoint-page .actions-select-wrapper::after {
    content: '';
    position: absolute;
    top: 1.75vh;
    border-top: 2.5vh solid var(--unselected-color);
    border-right: 1.5vh solid transparent;
    border-left: 1.5vh solid transparent;
}

.appoint-page .actions-select-wrapper::before {
    left: 2vh;
}

.appoint-page .actions-select-wrapper::after {
    right: 2vh;
}

.appoint-page fieldset {
    border: none;
    padding-top: 8rem;
}

.appoint-page label {
    position: relative;
    display: block;
    top: -6.5vh;
    left: 1.2rem;
    height: calc(var(--unit-font-size) * 1.5);
    background: transparent;
    color: var(--unselected-color);
    pointer-events: none;
    transition: ease-out .3s, color 0s;
    margin: 1rem 0;
}

.appoint-page input[type="date"],
.appoint-page fieldset select {
    height: 5vh;
    width: 100%;
    font-size: var(--unit-font-size);
    color: transparent;
    background-color: transparent;
    text-indent: 3rem;
    border-radius: 0;
    border: none;
    border-bottom: .2vh solid var(--unselected-color);

    transition: color .3s;
}

.appoint-page input[type="date"]:focus,
.appoint-page input[type="date"]:valid,
.appoint-page fieldset select:focus,
.appoint-page fieldset select:valid {
    color: white;
    border-color: white;
}

.appoint-page input[type="date"]:focus + label, 
.appoint-page input[type="date"]:valid + label,
.appoint-page fieldset select:focus + label, 
.appoint-page fieldset select:valid + label {
    top: -9vh;
    font-size: calc(var(--unit-font-size) * 0.75);
    color: white;
}

.appoint-page button {
    width: 100%;
    height: calc(var(--unit-font-size) * 2);
    font-weight: bold;
}

@keyframes slide-down {
    0% {
        top: -30vh;
    }
    
    100% {
        top: 0;
    }
}

@keyframes slide-up {
    0% {
        translate: 0 40vh;
    }

    100% {
        translate: 0 0;
    }
}